{% extends "./panel.html" %}
{% block panel_heading %}
    <i class="fa fa-bell fa-fw"></i> Notifications Panel
{% endblock %}
{% block panel_body %}
    <div class="list-group">
        {% for notification in notifications %}
            <a href="#" class="list-group-item">
                <i class="fa {{ notification.icon }} fa-fw"></i> {{ notification.title }}
                <span class="pull-right text-muted small"><em>{{ notification.time }}</em>
                </span>
            </a>
        {% endfor %}
    </div>
    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
{% endblock %}
